graphql-core>=2<3
cached-property==1.5.1

# optional
django>=2.0
psycopg2-binary>=2.7<3

# testing
pytest==3.8.2
pytest-cov==2.6.0
pytest-django==3.4.3

# QA
mypy==0.641
flake8==3.6.0
flake8-comprehensions==1.4.1
black==18.9b0

# documentation
sphinx==1.8.1
recommonmark==0.4.0  # markdown support
sphinx-rtd-theme==0.4.2
