graphql-core>=2<3
cached-property==1.4

# optional
django==2.0
psycopg2-binary>=2.7<3

# development
pytest
pytest-cov
pytest-django

flake8
flake8-comprehensions
flake8-commas
flake8-quotes

# documentation
sphinx
recommonmark  # markdown support
sphinx-rtd-theme
